{% extends "components/base.html" %}

{% block content %}


{#    <div class="border-Right">#}



    <div class="container">
        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8 mt-3 left">
                {% for post in post_list %}
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}}  </p>

                            <p class="card-text">{{post.content|safe|slice:":200" }}</p>
                            <p class="fa-regular fa-heart m-1 p-1 text-success"> {{ post.post_ratings.likes }}</p>
                            <p class="fa-regular fa-heart m-1 p-1 text-danger"> {{ post.post_ratings.dislikes }}</p>

                            <a href="{% url 'post_detail' post.id  %}" class="btn btn-primary">Читать... &rarr;</a>
                        <br>
                        <br>
                            {% if request.user.is_superuser %}
                            <a href="{% url 'delete_post' post.id %}" class="btn btn-danger">Удалить пост ({{ request.user.username }})</a>
                            {% endif %}

                        </div>

                    </div>
                {% endfor %}


            {% block sidebar %}
                {% include 'components/sidebar.html' %}
            {% endblock sidebar %}

    {% if is_paginated %}
        <nav aria-label="Page navigation conatiner"></nav>
        <div class="text-center fw-bold shadow">
        {{ page_obj.number }}
        </div>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; Назад </a></li>
            {% endif %}
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> Вперед &raquo;</a></li>

            {% endif %}
        </ul>
        </nav>
        </div>
    {% endif %}
{%endblock%}