{% extends 'base.html' %}
{% block content %}


    <script>

window.alert("Нажмите 'Закрыть' чтобы обратиться в тех поддержку!!!");

    </script>


<div class="text-center">
<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
<h4 class="display-4 fw-bold lh-1 text-body-emphasis">Number: +7 905 952 60 90</h4>
<h5 class="display-4 fw-bold lh-1 text-body-emphasis">Mail : rdimovin@mail.ru</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        </div>
      </div>
      </div>
    </div>









{% endblock %}