{% block sidebar %}

{#    <div class="container text-center">#}
{#    <div class="col">#}
{#          <div class="container">#}
{#    <div class="text-primary">#}
{#        <div class="row mb-3 text-center">#}
{#      <div class="col-sm-4 themed-grid-col"></div>#}
{#            <div class="col-sm-4 themed-grid-col"></div>#}
{#        <div class="text-center">#}
{#      <div class="col-sm-4 themed-grid-col"><h2>Top history</h2>#}
{#      <div class="margin-left">#}
{#                {% for post in post_list %}#}
{#                    <div class="card mb-4">#}
{#                        <div class="card-body">#}
{#                            <h4 class="card-title">{{ post.title }}</h4>#}
{#                            <p class="fa-regular fa-heart m-1 p-1 text-success">Like : {{ post.post_ratings.likes }}</p>#}
{#                            <p class="fa-regular fa-heart m-1 p-1 text-danger">Dislike : {{ post.post_ratings.dislikes }}</p>#}
{#</div>#}
{#</div>#}
{##}
{#                {% endfor %}#}
{#</div>#}
{#    </div>#}
{#    </div>#}
{#    </div>#}
{#    </div>#}
{#</div>#}
{#    </div>#}
{#    </div>#}




{% endblock sidebar %}
